<div class="is-bg-primary">
    <div class="wrapper-inner is-padded-top is-padded-bottom">
        <h1 class="text-mega is-inverted is-marged-bottom is-before-text">Welcome to Simple Start</h1>
        <h2 class="text-title is-inverted is-marged-bottom">Lean and fast start for every project</h2>
    </div>
</div>

<div class="wrapper-inner is-padded-top is-padded-bottom">
    <h2 class="text-header is-marged-bottom is-before-text">What is Simple Start?</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Simple Start is an easy and fast way for kickstarting various projects. It contains the bear minimun of core features required to start a project. 
    <br>
    Simple Starts guarantees you a consistent and scalable approach for making systems and pages.
    <br>
    It uses the mobile first approach to ensure that every component will be mobile friendly.
    <br>
    The idea is that on mobile devices we have a smaller number of different sizings and spacings. In contast to desktop when a various number of options are present.
    </p>

    <h2 class="text-header is-marged-bottom is-before-text">The philosophy befind Simple Start?</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">The idea of Simple start is to solve a couple of common problems - lack of consistency, misunderstandings between team members (developers and designers mainly), and lack of scalability. It defines a set ot rules and guidelines for a more consistent and smooth work experience.
    <br> 
    Simple Starts uses meaningful and simple class names which reduces the time of "inventing" class names. 
    <br><br>  
    Simple Start is more like a process than a framework. It encourage to thing more globaly, seeing the whole picture. When you have a broader view of the picture is easier to see similarities and diffeneces. That's the core idea behind Simple Star - combine the similar and modify with the difference. 
    The key is to plan ahead!
    </p>
    
    <h2 class="text-header is-marged-bottom is-before-text">Core features</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Simple Start's main features are color definitions, responsive typography and spacings. This is the base of every project and it is essential. This makes your work scaleble and reusable.</p>

    <div class="flex-grid is-marged-bottom is-between-sections">
        <div class="flex-col-third">
            <h2 class="text-title is-headline is-center is-marged-bottom">Consistent</h2>
            <p class="text-body">Variable usage and unified unit system guarantee a uniform experience and nice look and feel.</p>
        </div>

        <div class="flex-col-third">
            <h2 class="text-title is-headline is-center is-marged-bottom">Meaningful</h2>
            <p class="text-body">Class names are self explainatory and easy to use.</p>
        </div>

        <div class="flex-col-third">
            <h2 class="text-title is-headline is-center is-marged-bottom">Scalable</h2>
            <p class="text-body">Using modifiers allows the system to scale in a sustainable manner.</p>
        </div>
    </div>

    <h2 class="text-header is-marged-bottom is-before-text">How to install it?</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Clone the projects from the repository, install its dependencies and run it. Simple as that :)</p>

    <h2 class="text-header is-marged-bottom is-before-text">How to use it?</h1>
    <h3 class="text-title is-marged-bottom is-before-text">Define your main colors</h3>
    <p class="text-body is-lead is-marged-bottom">Start with the primary and secondary colors. Define colors for success, error, warning, and info states. You will need a neutral color scheme (gray nuances). For more info check <a href="#" target="_blank">these articles</a>.</p>

    <h3 class="text-title is-marged-bottom is-before-text">Define your typography</h3>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Define how many titles, headers and body texts you are going to use. Keep the number small and consistent.</p>

</div>