<div class="is-bg-primary">
    <div class="wrapper-inner is-padded-top is-padded-bottom">
        <h1 class="text-mega is-inverted is-marged-bottom is-before-text">Welcome to Simple Start</h1>
        <h2 class="text-title is-inverted is-marged-bottom">Lean and fast start for every project</h2>
    </div>
</div>

<div class="wrapper-inner is-padded-top is-padded-bottom">
    <h2 class="text-header is-marged-bottom is-before-text">What is Simple Start?</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Simple Start is an easy and fast way for kickstarting various projects. It contains the bear minimun of core features required to start a project. 
    <br>
    Simple Starts guarantees you a consistent and scalable approach for making systems and pages.
    <br>
    It uses the mobile first approach to ensure that every component will be mobile friendly.
    </p>
    
    <h2 class="text-header is-marged-bottom is-before-text">Core features</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Simple Start's main features are color definitions, responsive typography and spacings. This is the base of every project and it is essential. This makes your work scaleble and reusable.</p>

    <h2 class="text-header is-marged-bottom is-before-text">How to install it?</h1>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Clone the projects from the repository, install its dependencies and run it. Simple as that :)</p>

    <h2 class="text-header is-marged-bottom is-before-text">How to use it?</h1>
    <h3 class="text-title is-marged-bottom is-before-text">Define your main colors</h3>
    <p class="text-body is-lead is-marged-bottom">Start with the primary and secondary colors. Define colors for success, error, warning, and info states. You will need a neutral color scheme (gray nuances). For more info check <a href="#" target="_blank">these articles</a>.</p>

    <h3 class="text-title is-marged-bottom is-before-text">Define your typography</h3>
    <p class="text-body is-lead is-marged-bottom is-between-sections">Define how many titles, headers and body texts you are going to use. Keep the number small and consistent.</p>

</div>