/**
 * RESET & STYLE DEFAULT HTML ELEMENTS
 */

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: $font-family-normal;
    background-color: $color-light;
    padding: 0;
    margin: 0;
}

a {
    outline: 0;
    text-decoration: none;

    &:hover {

    }

    &:visited {

    }

    &:active {

    }

    &:focus {

    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {

}

input {
    &::-webkit-contacts-auto-fill-button {
        visibility: hidden;
        display: none !important;
        pointer-events: none;
        position: absolute;
        right: 0;
    }
}

button {
    border: none;
    
    &:focus {
        outline: 0;
    }
}