.is-bg-primary {
    background-color: $color-primary;
}

.is-bg-secondary {
    background-color: $color-secondary;
}

.is-bg-gray {
    background-color: $color-gray;
}

.is-bg-success {
    background-color: $color-success;
}