/*
 * SPACINGS CLASSES
 * 
 * Fliud helper classes for margins and paddings
 */
 
@for $i from 0 through 5 {
    .has-mt-#{$i * $spacing-unit} { margin-top: $spacing-unit * $i * 1px; }
    .has-mr-#{$i * $spacing-unit} { margin-right: $spacing-unit * $i * 1px; }
    .has-mb-#{$i * $spacing-unit} { margin-bottom: $spacing-unit * $i * 1px; }
    .has-ml-#{$i * $spacing-unit} { margin-left: $spacing-unit * $i * 1px; }
    
    .has-pt-#{$i * $spacing-unit} { padding-top: $spacing-unit * $i * 1px; }
    .has-pr-#{$i * $spacing-unit} { padding-right: $spacing-unit * $i * 1px; }
    .has-pb-#{$i * $spacing-unit} { padding-bottom: $spacing-unit * $i * 1px; }
    .has-pl-#{$i * $spacing-unit} { padding-left: $spacing-unit * $i * 1px; }
  }

.is-marged-top {
    margin-top: $spacing-unit * 1px;

    &.is-x2-device {
        margin-top: $spacing-unit * 2px;
    }

    &.is-x3-device {
        margin-top: $spacing-unit * 3px;
    }

    @media (min-width: $breakpoint-device) {
        margin-top: $spacing-unit * 3px;

        &.is-x2 {
            margin-top: $spacing-unit * 2px;
        }
    
        &.is-x4 {
            margin-top: $spacing-unit * 4px;
        }
    }

    /*
     * An additional query for a smaller devices

    @media (min-width: $breakpoint-phone) {
        margin-top: $spacing-unit * 3px;
    }
    */
}

.is-marged-bottom {
    margin-bottom: $spacing-unit * 1px;

    &.is-between-sections {
        margin-bottom: $spacing-unit * 3px;
    }

    @media (min-width: $breakpoint-device) {
        margin-bottom: 48px;

        &.is-x2 {
            margin-bottom: $spacing-unit * 2px;
        }
    
        &.is-x3 {
            margin-bottom: $spacing-unit * 3px;
        }
    
        &.is-x4 {
            margin-bottom: $spacing-unit * 4px;
        }
    
        &.is-x5 {
            margin-bottom: $spacing-unit * 5px;
        }
    
        &.is-before-text {
            margin-bottom: $spacing-unit * 2px;
        }

        &.is-between-sections {
            margin-bottom: 80px;
        }

        &.is-before-text {
            margin-bottom: 32px;
        }

        &.is-headline-before-text {
            margin-bottom: 24px;
        }

        &.is-title-before-text {
            margin-bottom: 16px;
        }

        &.is-subheader-before-text {
            margin-bottom: 8px;
        }
    }
}

.is-padded-top {
    padding-top: 40px;

    &.is-small {
        padding-top: 24px;
    }

    &.in-help-center {
        padding-top: 0; 
    }

    @media (max-width: $breakpoint_phone - 1) {
        &.desktop-only {
            padding-top: 0;
        }
    }

    @media (min-width: $breakpoint_phone) {
        &.in-help-center {
            padding-top: 56px; 
        }
    }

    @media (min-width: $breakpoint-device) {
        &,
        &.is-small {
            padding-top: 80px;
        }

        &.is-0x {
            padding-top: 0;
        }

        &.is-3x {
            padding-top: 24px;
        }

        &.is-4x {
            padding-top: 32px;
        }

        &.is-5x {
            padding-top: 40px;
        }

        &.in-help-center {
            padding-top: 80px; 
        }
    }
}

.is-padded-bottom {
    padding-bottom: 24px;

    &.is-large {
        padding-bottom: 40px;
    }

    &.to-compensate {
        margin-bottom: -16px;
    }
    
    @media (max-width: $breakpoint_phone - 1) {
        &.desktop-only {
            padding-bottom: 0;
        }
    }

    @media (min-width: $breakpoint_phone) {
        &.is-20x {
            padding-bottom: 160px;
        }
    }

    @media (min-width: $breakpoint-device) {
        padding-bottom: 80px;

        &.to-compensate {
            margin-bottom: -24px;
        }

        &.is-0x {
            padding-bottom: 0;
        }

        &.is-3x {
            padding-bottom: 24px;
        }

        &.is-5x {
            padding-bottom: 40px;
        }
    }
}