/**
 * TYPOGRAPHY VARIABLES
 */

$font-family-header:               'Titillium Web';
$font-family-text:                 'Open Sans';

$font-size-mega-device:            48px; 
$font-size-mega:                   64px; 

$font-size-header-device:          28px;
$font-size-header:                 38px; 

$font-size-headline:               30px;

$font-size-title-device:           19px;
$font-size-title:                  24px;

$font-size-body:                   16px;
$font-size-lead:                   20px;
$font-size-caption:                14px;
$font-size-micro:                  12px;